.box1{
    width: 100px;
    height: 100px;
    color: red;
    float: left;
}

.box2{
    width: 100px;
    height: 100px;
    color: blue;
    float: left;
}

.box3{
    width: 150px;
    height: 100px;
    color: green;
}